.post-container {
	position: relative;
    margin: 0.5rem auto 1rem auto;
    background-color: $clr-primary;
    transition: box-shadow .25s;
    border-radius: 2px;
    word-break: break-word;

    .post-content {
    	padding: 25px 25px 15px;
    	border-radius: 0 0 2px 2px;
    }

    .post-action {
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 15px;
    }

    .post-body {
        & div > p {
            font-weight: 100;
            line-height: 2.3;
            margin-top: 2em;

            &:first-child:first-letter {
                float: left; 
                color: $clr-dropcap; 
                font-size: 3.7em; 
                margin: -60px 0 0 0;
            }
        }

        ul, ol {
            padding-left: 1em;
            font-size: 1em;

            li:not(:last-child) {
                margin-bottom: 0.5em;
            }

            ul, ol {
                padding-left: 2em;
                font-size: 0.8;

                li:first-child {
                    margin-top: 0.5em;
                }
            }
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    .post-abstract {
        p {
            font-weight: 100;
            line-height: 2.3rem;
        }
    }
}

blockquote {
    font-size: 2em;
    line-height: 1.8;
    background: $clr-blockquote;
    border-left: 10px solid $clr-contrast;
    margin: 1.5em 10px;
    padding: 0.5em 10px;

    &:before {
      color: $clr-contrast;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
}

@media (max-width: 767px) {
	.post-container {
        max-width: 95%;

		.post-content, 
        .post-action {
	    	padding-left: 30px;
	    	padding-right: 30px;
	    }
	}
}

@import '_components.comment'
