.shape-arrow--broken {
    width: 35px;
    height: 10px;
    fill: $clr-contrast;
    margin-left: .75em;
    margin-bottom: .05em;
    transition: margin-left .4s .8s;
}

.read-more:hover .shape-icon{
  margin-left: 10%;
} 





/*
#arrow {
    width: 100%;
    height: 50px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 0;
    outline: 0;
    z-index: 100;
    color: $clr-contrast;
    background: transparent;

    -webkit-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
       -moz-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
         -o-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
            transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);      
}

#arrow span {
    display: inline-block;
    position: relative;
    top: -18px;
    -webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
       -moz-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
         -o-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
            transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
}

#arrow:hover {
    color: $clr-def-lightest;
    background: $clr-contrast;
}

#arrow:hover span {
    top: 0;
    color: $clr-primary;
}
*/