$clr-primary:          #FFFFFF;  
$clr-dark:             #424242; 
$clr-contrast:         #BE005E;
$clr-contrast-lighter: #FFF2F8;  
$clr-def-light:        #CCC;
$clr-def-lighter:      #EFEFEF;
$clr-def-lightest:     #FFF;
$clr-def-dark:         #444;
$clr-def-darker:       #333;
$clr-def-darkest:      #000;

// Links
$clr-link:  $clr-contrast;

//Menu
//$clr-ripple: rgba(242,194,217, .26);
$clr-ripple: rgba(190,0,94, .26);

// Title
$clr-h1:    $clr-dark;
$clr-h2-6:  $clr-def-dark;

//Dropcap
$clr-dropcap: #faad75;

// Footer
$clr-footer: #272D35;
$clr-banner: #343c47;